/* Variáveis de cor */

:root{
  --default-bg: #d1cccc;
  --text-color: #030303;
  --accent-color: #798b92;
  --primary-color: #ebe7e7c9;
  --secondary-color: #4646c4e1;
  --error-color: #db1919;
}

.darkMode{
  --default-bg: #272626;
  --text-color: #dfdcdc;
  --accent-color: #5c2525;
  --primary-color: #444242c9;
  --secondary-color: #0f7b87e1;
  --error-color: #db1919;
}

/* Geral HTML */

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--default-bg);
  max-height: 100%;
  width: 100%;
  color: var(--text-color);
  min-width: 320px;
  animation: fadeIn 1.3s;
  font-size: 14px;
  overflow-x: hidden;
}

/* Elementos HTML */

header {
  width: 100vw;
  background-color: var(--accent-color);
  color: var(--text-color);
  text-align: center;
  z-index: 1000;
  animation: slideIn 1s;
  user-select: none;
}

textarea{
  resize: none;
}

button {
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: calc(10px + 1vw);
  background: var(--accent-color);
  color: var(--text-color);
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
  margin: 10px;
  user-select: none;
}

label{
  cursor: pointer;
}

/* Elementos por ID */

#modeSwitch{
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
  padding: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

#modeSwitch i{
  color: var(--secondary-color);
}

#modeSwitch i:last-child{
  display: none;
}

.darkMode #modeSwitch i:first-child{
  display: none;
}

.darkMode #modeSwitch i:last-child{
  display: block;
}
/* | Textos | */

#textInputContainer {
  border-radius: 10px;
  padding: 5px;
  z-index: 1000;
  margin: 10px;
  width: 90%;
  animation: slideIn 1.5s;
}

#textInput {
  padding: 5px;
  border-radius: 4px;
  border-radius: 10px;
  margin-bottom: 3vh;
  font-size: 1vw;
  background-color: var(--primary-color);
  color: var(--text-color);
  height: fit-content;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

#charCounter{
  position:static;
  margin-left: 5px;
  color: var(--text-color);
  z-index: 1000;
  user-select: none;
}

#textInput:empty::before{
  content: "Digite seu texto aqui:";
  color: var(--text-color);
}

#textOutputContainer {
  display: none;
  height: auto;
}

#textOutput {
  display: none;
  display: block;
  width: auto;
  min-width: 100px;
  max-width: 90vw;
  height: auto;
  min-height: 10px;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  overflow: hidden;
  margin: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* | Divs | */

#notificationDiv{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  margin: 10px;
}

#conversions {
  background-color: var(--primary-color);
  width: fit-content;
  min-width: 500px;
  padding: 10px;
  border-radius: 15px;
  user-select: none;
}

#spaceBox{
  max-height: 30px;
}

#buttonContainer {
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 15px;
  width: auto;
  margin-top: 10px;
}

#convertBtn:hover{
  color: #46d346;
}

#clearBtn:hover{
  color: #dc143c;
}

/* Elementos por Classe */

.conversion{
  display: none;
}

/* | Botões | */

.buttons {
  margin: 10px;
  border-radius: 15px;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
}

.buttons:hover {
  background-color: #4b4a4a;
  transform: scale(110%);
}

/* | Textarea | */

.textarea {
  display: block;
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding: 10px;
}

/* Labels */

.textLabel{
  display: flex;
  border-radius: 20px;
  text-align: center;
  min-width: 200px;
  min-height: 30px;
  margin: 4px;
  padding: 10px;
}

/* Elementos DOM */

#copyBtn {
  display: inline;
  padding: 10px;
}

#copyBtn:hover{
  color: #0aee78;
}

#convertError {
  font-size: 20px;
  position: sticky;
  background-color: var(--error-color);
  color: var(--text-color);
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  max-width: fit-content;
  margin-bottom: 5px;
}

#copyMsg {
  font-size: 20px;
  position: sticky;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  max-width: fit-content;
  margin-bottom: 5px;
}

#endSpaceLabel{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  min-width: fit-content;
  transform: translateY(-150%);
  max-width: 100px;
  margin-left: 350px;
}

#accentLabel{
  position: absolute;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  min-width: fit-content;
  transform: translateY(-150%);
  max-width: 100px;
  margin-left: 350px;
}

#noConversion {
  font-size: 20px;
  position: sticky;
  background-color: var(--error-color);
  color: var(--text-color);
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  max-width: fit-content;
  margin-bottom: 5px;
}

/* Animações */

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(200%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.buttons:active {
  transform: scale(90%);
}

.textarea:focus {
  transform: scale(101%);
  box-shadow: 20px 10px 0px rgb(34, 33, 33) -20px -10px 0px rgb(34, 33, 33);
  outline: none;
}

#conversions .conversionBox input[type="checkbox"]:checked + .textLabel{
  background-color: #28be28bd;
}

.slideIn {
  animation: slideIn 1s;
}

.slideOut {
  animation: slideOut 1s;
}

.textLabel:hover{
  cursor: pointer;
  background-color: var(--accent-color);
  transform: scale(110%);
}

#convertBtn label{
  display: none;
}

#convertBtn:hover label{
  margin-left: 10px;
  display: inline;
  animation: fadeIn .3s;
}

#clearBtn label{
  display: none;
}

#clearBtn:hover label{
  margin-left: 10px;
  display: inline;
  animation: fadeIn .3s;
}

#copyBtn label{
  display: none;
}

#copyBtn:hover label{
  margin-left: 10px;
  animation: fadeIn .3s;
  display: inline;
}

/* Responsividade */

@media (max-width: 768px) {
  body {
    padding: 10px;
    font-size: 13px;
  }

  #textInput{
    font-size: 20px;
    max-width: 50%;
  }

  #conversions{
    padding: 10px;
  }

  #textInput {
    min-width: 100%;
  }

  .buttons {
    margin: 5px;
  }

  button {
    font-size: 14px;
    padding: 8px;
  }

}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  header, footer {
    padding: 5px;
    text-align: left;
  }
}

